.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  font-size: 15px;
  font-style: italic;
  font-family: latoI;
  color: #393939;

  .copyright {
    margin: 0;
  }

  .footer-nav {
    text-align: center;
    flex-grow: 1;

    a {
      margin: 0 10px;
      text-decoration: none;
      color: #333;
      gap: 1.5em;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;

    a {
      margin-left: 20px;
      width: 24px;
      height: 24px;
      background-size: contain;
      gap: 15px;
      background-repeat: no-repeat;
    }

    .footer-icon1 {
      background-image: url("../assests/images/facebook.svg");
    }

    .footer-icon2 {
      background-image: url("../assests/images/instagram.svg");
    }
  }
}
@media (max-width: 768px) {
  .footer {
    font-size: 10px;

    .footer-nav {
      font-size: 10px;
      padding-top: 15px;
      padding-bottom: 20px;

      a {
        font-size: 10px;
      }
    }

    .icons {
      font-size: 10px;
    }
  }
}

@media (max-width: 380px) {
  .footer {
    font-size: 8px;
    flex-direction: column;

    .footer-nav {
      font-size: 8px;
      gap: 0.25rem;

      a {
        font-size: 8px;
      }
    }

    .icons {
      gap: 0.5rem;

      .footer-icon1,
      .footer-icon2 {
        width: 18px;
        height: 18px;
      }
    }

    p {
      font-size: 8px;
    }
  }
}
