.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  z-index: 2;

  .logo {
    background-image: url(../assests/images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 169px;
    height: 55px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .hamburgerMenu {
    display: none;
    cursor: pointer;
    z-index: 1001;
  }

  .nav {
    display: flex;
    align-items: center;

    &--ul__one {
      display: flex;
      gap: 1.6rem;
      margin-right: 20px;
    }

    &--ul__two {
      display: flex;
      gap: 1.6rem;
    }

    ul {
      list-style: none;
    }

    a {
      font-family: cavReg;
      font-size: 25px;
      padding: 5px;
      position: relative;
      text-decoration: none;
      color: inherit;
      padding-right: 50px;

      &.active::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 1px;
        width: 60%;
        height: 2px;
        background-color: #000;
      }

      &:hover {
        font-size: 30px;
        transition: 0.25s ease-in;
      }
    }
  }

  #loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 158px;
    height: 52px;
    background-color: #ffd972;
    color: black;
    padding-left: 50px;
    border-radius: 50px;
    box-shadow: -2px 10px 6px rgba(112, 112, 112, 0.3);
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  #signup {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .logo {
      margin-bottom: 0;
    }

    .nav {
      display: none;

      &.active {
        display: flex;
        flex-direction: column;
        animation: fadeIn 0.3s;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        animation: swipeIn 0.5s forwards;

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;

          a {
            margin: 10px 0; // Vertical spacing
            text-decoration: none; // Ensure no underline
          }
        }
      }
    }

    .hamburgerMenu {
      display: block;
      margin-left: auto;
      cursor: pointer;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes swipeIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
